<div id="blog-container" class="autopagerize_page_element" data-blogid="{{ postID }}" data-vote="{{ userVote }}" data-thumbUp="{{ postThumbUp }}">
  <div class="content">
    <div class="post-page">
      <div class="post animated fadeInDown">
        <div class="post-title">
          <div id="article-vote"></div>
          <h3>
            <a>{{ postTitle }}</a>
          </h3>
        </div>
        <div class="post-content" id="article-content">
          {{{ postContent }}}
        </div>
        <div class="post-footer">
          <div class="meta">
            <div class="info">
              <i class="fa fa-sun-o"></i>
              <span class="date">{{ postTime }}</span>
              <i class="fa fa-tag"></i>
              <a class="tag" href=".#type={{ postType }}">{{ postType }}</a>
            </div>
            {{#if isBlogAdmin}}
              &emsp;
              <a href="/blog/post_edit/{{ postID }}">编辑</a>
            {{/if}}
          </div>
        </div>
      </div>
      <div id="article-comments"></div>
    </div>
  </div>
</div>
<link rel="stylesheet" href="/static/blog/anatole-basic/katex.css">