<div class="hola-container hola-layout-container"
     id="blog-container"
     data-blogid="{{ postID }}"
     data-vote="{{ userVote }}"
     data-thumbUp="{{ postThumbUp }}">
  <div class="hola-layout-main hola-card-stack" style="width: 100%;">
    <div class="hola-card">
      <h2 class="hola-card-title">{{ postTitle }}</h2>
      {{{ postContent }}}
    </div>
  </div>
</div>
