<style>
	code {
		font-family: Monaco, Menlo, Consolas, "Courier New", FontAwesome, monospace;
	}
</style>

<article id="blog-container" data-blogid="{{ postID }}" data-vote="{{ userVote }}" data-thumbUp="{{ postThumbUp }}">
	<header>
		<h1>
			<a title="{{ postTitle }}">{{ postTitle }}</a>
		</h1>
		<br />
		<small>
			<time>{{ postTime }}</time>
			in <a href=".#type={{ postType }}">{{ postType }}</a>
			{{#if isBlogAdmin}}
				&emsp;
				<a href="{{ luoguAddress }}/blogAdmin/article/edit/{{ postID }}">编辑</a>
			{{/if}}
		</small>
	</header>
	<div class="kg-card-markdown" id="article-content">
		{{{ postContent }}}
	</div>
	<br />
	<br />
	<div id="article-vote"></div>
	<hr>
	<div id="article-comments"></div>
</article>

<link rel="stylesheet" href="/static/blog/so-clean/katex.css">

