<header class="footer intro-header" style="margin-top: 20px;">
  <div class="container">
    <h1 class="title2">{{ postTitle }}</h1>
    <div class="smalltext"><b>{{ postThumbUp }}</b> 个喜欢，写于
      <b>{{ postTime }}</b>，属于类别 <a href=".#type={{ postType }}"><b>{{ postType }}</b></a></div>
  </div>
</header>
<div class="container" id="blog-container" style="margin-top: 30px;" data-blogid="{{ postID }}"
  data-vote="{{ userVote }}" data-thumbUp="{{ postThumbUp }}">
  <div id="article-content" style="margin-top: 30px; margin-bottom: 30px;">
    {{{ postContent }}}
  </div>
  <hr />
  <center>
    <div id="article-vote"></div>
  </center>
  <hr />
  <div id="article-comments"></div>
</div>
<link rel="stylesheet" href="/static/blog/themeazure/katex.css">